/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 150px;
}

.fitimg {
  width: 100vw;
  height: auto;
}

.col-md-6 {
  display: grid;
  width: 100vw;
  text-align: center;
  align-items: center;
}

.roove-logo {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  /* Change this if you prefer a different font */
}

.roove-logo span {
  position: relative;
  /* Needed for relative positioning of the "R" */
  font-size: 1.5em;
  /* Base size for all letters */
}

.roove-logo span:nth-child(1) {
  /* Style for the "R" */
  font-size: 2em;
  /* Increase font size for "R" */
  color: #2081c3;
  /* Blue color for "R" */
  /* Lettering effect for "R" (adjust as needed) */
  letter-spacing: 0.2em;
  text-shadow: 0.1em 0.1em 0.2em rgba(5, 41, 54, 0.3);
}

.roove-logo span:nth-child(2),
.roove-logo span:nth-child(3) {
  margin-left: -0.3em;
  /* Adjust spacing to accommodate the bigger "R" */
  color: #bed8d4;
  /* Orange color for second and third letters */
}

.roove-logo span:nth-child(4) {
  margin-left: -0.1em;
  /* Adjust spacing for the last letter */
  color: #78d5d7;
  /* Orange color for fourth letter */
}

.roove-logo span:nth-child(5) {
  margin-left: -0.1em;
  /* Adjust spacing for the last letter */
  color: #78d5d7;
  /* Orange color for fourth letter */
}

body {
  display: grid;
  background-color: #F7F9F9;
  grid-template-rows: auto 1fr;
}

nav {
  grid-row: 1;
}

.container-fluid {
  grid-row: 2;
}

#matchingUsersPopup {
  position: relative;
  /* Relative positioning */
  grid-row: 3;
  /* Position after the quote section */
  justify-tracks: center;
  display: none;
  /* Initially hide the pop-up */
  z-index: 9999;
  /* Ensure the pop-up is above other elements */
}

footer {
  grid-row: 4 span 1;
}

#matchingUsersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.user-card {
  background-color: #f7f9f9;
  /* Light gray background */
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  /* Add margin between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
  max-width: 500px;
  /* Limit the width of the user card */
  width: auto;
}

.user-card h3 {
  color: #63d2ff;
  /* Dark blue for the user's name */
  margin-bottom: 10px;
}

.user-card p {
  color: #2081c3;
  /* Light blue for other details */
  margin-bottom: 5px;
}

.nav-link,
.custom-color {
  color: #2081c3;
}

.centeritem {
  display: block;
  width: 100%;
}

/* Styling the button */
#emailSelectedUsersBtn {
  background-color: #2081c3;
  border: none;
  color: #f7f9f9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Change the color of the button when hovered over */
#emailSelectedUsersBtn:hover {
  background-color: #78d5d7;
}

/* Change the color of the button when active (clicked) */
#emailSelectedUsersBtn:active {
  background-color: #bed8d4;
}

.footer {
  background-color: #f7f9f9;
  color: #63d2ff;
  /* Text color */
  text-align: center;
  /* Center-align text */
  padding: 20px 0;
  /* Add some padding top and bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  /* Full width */
  position: relative;
}

/* CSS for styling the checkbox */
.user-checkbox {
  /* Increase the size of the checkbox */
  width: 20px;
  height: 20px;
  /* Make the checkbox round */
  border-radius: 50%;
  /* Add a border to the checkbox */
  border: 2px solid #bed8d4;
  /* Make the checkbox background transparent */
  background-color: transparent;
  /* Ensure the checkbox is positioned relative to its container */
  position: relative;
  /* Hide the default checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Cursor pointer to indicate interactivity */
  cursor: pointer;
}

/* Style the appearance of the checkbox when checked */
.user-checkbox:checked {
  /* Change the background color when checked */
  background-color: #2081c3; /* Change this color as needed */
  /* Add a checkmark inside the checkbox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M5.5 12.5l2.5 3.5 4.5-4.5"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

/* Style the appearance of the checkbox when hovered */
.user-checkbox:hover {
  /* Adjust styles to give a hover effect */
  border-color: #78d5d7; /* Change this color as needed */
}